$white: #FFFFFF;
$black: #020202;
$grey: #525252;
$light-grey: #dadada;

$primary: #0071e3;

$red: #DB4437;
$amber: #F4B400;
$green: #0F9D58;
$blue: #4285F4;

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 48px;

$screen-mobile-width: 700px;